.reveal table {
    margin: inherit;
}

.reveal table td {
    vertical-align: top;
}

.reveal .imageblock + .title {
    font-size: 75%;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: inherit;
}